.app {
  background: linear-gradient(45deg, black, darkblue);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload-section {
  margin-bottom: 20px;
}

.uploaded-image {
  max-width: 100%;
  height: auto;
}

.button-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to bottom, black, #000033);
}

.button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: #007BFF;
  text-decoration: none;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  transition: 0.1s;
}

.button:hover {
  background: linear-gradient(45deg, #007BFF, #00BFFF);
  transition: 0.1s;
}

.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 640px;
  height: 480px;
  background: linear-gradient(to bottom, black, #080808);
  color: white;
  margin: 0 auto;
  border: 2px solid grey;
}

.file-upload {
  display: none;
}

.upload-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.uploaded-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}